/* CSV */
/* 60486b,f7f0f0,1e2019,00a9a5,4e8098 */

body {
    background-color: #f7f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #4e8098;
}
a:visited {
    color: #60486B;
}
main {
    flex-grow: 1;
}
.btn-primary {
    color: #fff;
    background-color: #60486B;
    border-color: #60486B;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem;
}
.btn-primary:visited {
    color: #fff;
}
.btn-primary:hover {
    background-color: #3f2e46;
    border-color: #3f2e46;
}
h1, h2 {
    font-weight: 300;
    color: #1E2019;
}
.card {
    border-top: 2px solid #00a9a5;
}
.card + .card {
    margin-top: 32px;
}
.bg-dark {
    /* override bs ! */
    background-color: #1E2019 !important; 
}
.bg-dark.bg-darker {
    /* override bs ! */
    background-color: #000 !important; 
}
.bg-dark img {
    filter:  brightness(0) invert(1);
}
p.lead small {
    font-size: .9rem;
}

.icons li > a {
    padding: 4px 8px;
}

footer a, footer a:visited {
    color: #00a9a5;
}
footer ul, footer p {
    margin-bottom: 0;
}
footer p {
    font-size: .8rem;
}
.feature-image-right {
    background-image: url('https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
    background-size: 40%;
    background-position: 90% 50%;
    background-repeat: no-repeat;
}
.feature-image::before {
    content: "";
    background-image: url('./resources/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
}
.feature-image h1, .feature-image .lead {
    z-index: 1;
    position: relative;
    color: #f7f0f0;
}
h4 .far {
    color: #4e8098;
    opacity: .5;
}
.image-grid {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}
.image-grid {
    border: 1px solid #ccc;
    border-left: 0;
    border-top: 0;
}
.image-grid > div {
    width: 33.333%;
    padding-bottom: 33.333%;
    background-color: #000;
    border: 1px solid #ccc;
    border-bottom: 0; 
    border-right: 0;
    background-size: cover;
}
.image-grid.image-smile {
    max-width: 800px;
    margin: 0 auto;
}
.image-grid.image-smile > div {
    width: calc(100%/8);
    padding-bottom: calc(100%/8);    
    background-color: #f7f0f0;
}
.image-grid > div.active {
    background-color: #000;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    font-size: .7rem;
    padding: 4px 0;
}
h2 a, .alert a {
    text-decoration: none;
}
h2 a:hover, .alert a:hover {
    text-decoration: underline;
}
.alert a {
    font-weight: bold;
}